body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

div {
  border: 1px dotted white;
}

/** Header **/
header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 0;
}

header img {
  height: 50px;
  padding: 10px;
}

header a {
  color: white;
}

header nav {
  display: inline-block;
  text-align: right;
  flex-grow: 1;
  margin-right: 10px
}

header span {
  text-decoration: underline;
  padding: 10px;
}

/** Main **/

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#mission {
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url(../images/img-mission-background.jpg);
}

#mission .text {
  margin: auto;
  width: 100%;
  background-color: black;
}
