body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

div {
  border: 1px dotted white;
}

main {
    border: 1px dotted blue;
}

h2, h3, h4, {
  margin: 0px;
  padding: 10px;
}

/** Header **/
header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 0;
}

header img {
  height: 50px;
  padding: 10px;
}

header a {
  color: white;
}

header nav {
  display: inline-block;
  text-align: right;
  flex-grow: 1;
  margin-right: 10px
}

header span {
  text-decoration: underline;
  padding: 10px;
}

/** Main **/

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/** Mission Section **/
#mission {
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url(../images/img-mission-background.jpg);
  margin: auto;
}

#mission .text {
  margin: auto;
  width: 100%;
  min-width: 700px;
  background-color: black;
  flex-wrap: wrap;
}

/** Featured Section **/
#featured {
  padding-top: 40px;
  width: 1000px;
  margin: auto;
}

#featured img {
  height: 200px;
  width: 300px;
  margin: 5px;
}

.featured-items {
  margin: 5px;
}

.featured-items h4 {
  padding: 5px;
}

/** Locations Section **/
#locations {
  margin: 60px auto 0px auto;
  padding-top: 60px;
  width: 1200px;
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
  align-content: flex-start;
}

#locations h2 {
  margin: 0px auto 0px auto;
  width: 100%;
  padding-bottom: 15px;
  height: auto;
}

.locations-items {
  background-color: black;
  width: 300px;
  opacity: 1;
  margin: 0px 20px;
}

.locations-items p {
  padding: 10px;
}

/** Contact Section **/
#contact {
  height: 200px;
  margin: auto;
}
